In [ ]:
import pandas as pd

# Mount Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# PATHS - CONFIDENTIAL

In [ ]:
path_to_load = None

In [ ]:
path_to_save = None

# Load Data - All Clean

In [ ]:
df = pd.read_csv(f'{path_to_load}/nba_all_clean.csv')

In [ ]:
df.head()

,id,match_id,shotX,shotY,quarter,time_remaining,player,team,made,shot_type,distance,score,opp,status,date
0,0,201501100CHI,24.9,19.4,1.0,11:31.0,Zaza Pachulia,MIL,False,2,16,0-2,'CHI',trails,2015-01-10
1,1,201501100CHI,34.8,3.1,1.0,10:49.0,Giannis Antetokounmpo,MIL,False,2,10,0-4,'CHI',trails,2015-01-10
2,2,201501100CHI,22.4,3.4,1.0,10:20.0,Brandon Knight,MIL,True,2,1,2-7,'CHI',trails,2015-01-10
3,3,201501100CHI,20.2,21.6,1.0,9:06.0,Zaza Pachulia,MIL,False,2,18,2-7,'CHI',trails,2015-01-10
4,4,201501100CHI,22.9,3.0,1.0,8:25.0,Johnny O'Bryant,MIL,False,2,1,2-10,'CHI',trails,2015-01-10

# Preproccess for Viz #1&4 - All Shots

In [ ]:
df['year'] = (df['match_id'].str[:4])

In [ ]:
df['year'] = pd.to_datetime(df['year']).dt.year

In [ ]:
df = df[['team', 'made', 'shot_type','year']]
df = df.sort_values(by=['year', 'team'], ascending=[True, True])

In [ ]:
df.head()

       team   made  shot_type  year
240739  ATL  False          2  2000
240740  ATL  False          2  2000
240741  ATL  False          2  2000
240742  ATL  False          2  2000
240743  ATL  False          2  2000

In [ ]:
df.shape

(4613003, 4)

In [ ]:
df2 = df[df['shot_type'] == 2]
df3 = df[df['shot_type'] == 3]
df2 = df2[['team', 'made','shot_type','year']]
df3 = df3[['team', 'made','shot_type','year']]

In [ ]:
df2.head()

       team   made  shot_type  year
240739  ATL  False          2  2000
240740  ATL  False          2  2000
240741  ATL  False          2  2000
240742  ATL  False          2  2000
240743  ATL  False          2  2000

In [ ]:
df3.head()

       team   made  shot_type  year
240766  ATL  False          3  2000
240776  ATL  False          3  2000
240785  ATL   True          3  2000
240788  ATL   True          3  2000
240806  ATL  False          3  2000

In [ ]:
df2.to_csv(f'{path_to_save}/data_for_viz14_2point.csv', index=False)
df3.to_csv(f'{path_to_save}/data_for_viz14_3point.csv', index=False)

# Preprocess for Viz #5 - Teams & States

In [45]:
df_viz5_2p = pd.read_csv(f'{path_to_load}/data_for_viz14_2point.csv')
df_viz5_2p.head()

  team   made  shot_type  year
0  ATL  False          2  2000
1  ATL  False          2  2000
2  ATL  False          2  2000
3  ATL  False          2  2000
4  ATL  False          2  2000

In [ ]:
df_viz5_3p = pd.read_csv(f'{path_to_load}/data_for_viz14_3point.csv')
df_viz5_3p.head()

  team   made  shot_type  year
0  ATL  False          3  2000
1  ATL  False          3  2000
2  ATL   True          3  2000
3  ATL   True          3  2000
4  ATL  False          3  2000

In [ ]:
df_viz5 = pd.concat([df_viz5_2p, df_viz5_3p])

In [ ]:
df_viz5["team"].unique().tolist()

['ATL',
 'BOS',
 'CHH',
 'CHI',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MIA',
 'MIL',
 'MIN',
 'NJN',
 'NYK',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'SEA',
 'TOR',
 'UTA',
 'VAN',
 'WAS',
 'MEM',
 'NOH',
 'CHA',
 'NOK',
 'OKC',
 'BRK',
 'NOP',
 'CHO']

In [ ]:
team_states_dict = {
    'ATL': 'GA',
    'BOS': 'MA',
    'CHH': 'NC',
    'CHI': 'IL',
    'CLE': 'OH',
    'DAL': 'TX',
    'DEN': 'CO',
    'DET': 'MI',
    'GSW': 'CA',
    'HOU': 'TX',
    'IND': 'IN',
    'LAC': 'CA',
    'LAL': 'CA',
    'MIA': 'FL',
    'MIL': 'WI',
    'MIN': 'MN',
    'NJN': 'NJ',
    'NYK': 'NY',
    'ORL': 'FL',
    'PHI': 'PA',
    'PHO': 'AZ',
    'POR': 'OR',
    'SAC': 'CA',
    'SAS': 'TX',
    'SEA': 'WA',
    'TOR': 'ON',
    'UTA': 'UT',
    'VAN': 'BC',
    'WAS': 'DC',
    'MEM': 'TN',
    'NOH': 'LA',
    'CHA': 'NC',
    'NOK': 'LA',
    'OKC': 'OK',
    'BRK': 'NY',
    'NOP': 'LA',
    'CHO': 'NC'
}

In [ ]:
states_fullname_dict = {
        'GA': 'Georgia',
        'MA': 'Massachusetts',
        'NC': 'North Carolina',
        'IL': 'Illinois',
        'OH': 'Ohio',
        'TX': 'Texas',
        'CO': 'Colorado',
        'MI': 'Michigan',
        'CA': 'California',
        'IN': 'Indiana',
        'FL': 'Florida',
        'WI': 'Wisconsin',
        'MN': 'Minnesota',
        'NJ': 'New Jersey',
        'NY': 'New York',
        'PA': 'Pennsylvania',
        'AZ': 'Arizona',
        'OR': 'Oregon',
        'WA': 'Washington',
        'ON': 'Ontario',
        'UT': 'Utah',
        'BC': 'British Columbia',
        'DC': 'District of Columbia',
        'TN': 'Tennessee',
        'LA': 'Louisiana',
        'OK': 'Oklahoma'
    }

In [ ]:
team_cities_dict = {
    'ATL': 'Atlanta',
    'BOS': 'Boston',
    'CHH': 'Charlotte',
    'CHI': 'Chicago',
    'CLE': 'Cleveland',
    'DAL': 'Dallas',
    'DEN': 'Denver',
    'DET': 'Detroit',
    'GSW': 'San Francisco',
    'HOU': 'Houston',
    'IND': 'Indianapolis',
    'LAC': 'Los Angeles',
    'LAL': 'Los Angeles',
    'MIA': 'Miami',
    'MIL': 'Milwaukee',
    'MIN': 'Minneapolis',
    'NJN': 'Newark',
    'NYK': 'New York',
    'ORL': 'Orlando',
    'PHI': 'Philadelphia',
    'PHO': 'Phoenix',
    'POR': 'Portland',
    'SAC': 'Sacramento',
    'SAS': 'San Antonio',
    'SEA': 'Seattle',
    'TOR': 'Toronto',
    'UTA': 'Salt Lake City',
    'VAN': 'Vancouver',
    'WAS': 'Washington, D.C.',
    'MEM': 'Memphis',
    'NOH': 'New Orleans',
    'CHA': 'Charlotte',
    'NOK': 'New Orleans',
    'OKC': 'Oklahoma City',
    'BRK': 'Brooklyn',
    'NOP': 'New Orleans',
    'CHO': 'Charlotte'
}

In [ ]:
team_fullname_dict = {
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'CHH': 'Charlotte Hornets',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GSW': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'LA Clippers',
    'LAL': 'Los Angeles Lakers',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NJN': 'New Jersey Nets',
    'NYK': 'New York Knicks',
    'ORL': 'Orlando Magic',
    'PHI': 'Philadelphia 76ers',
    'PHO': 'Phoenix Suns',
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SAS': 'San Antonio Spurs',
    'SEA': 'Seattle SuperSonics',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'VAN': 'Vancouver Grizzlies',
    'WAS': 'Washington Wizards',
    'MEM': 'Memphis Grizzlies',
    'NOH': 'New Orleans Hornets',
    'CHA': 'Charlotte Bobcats',
    'NOK': 'New Orleans/Oklahoma City Hornets',
    'OKC': 'Oklahoma City Thunder',
    'BRK': 'Brooklyn Nets',
    'NOP': 'New Orleans Pelicans',
    'CHO': 'Charlotte Hornets'
}

In [46]:
df_viz5_2p['state'] = df_viz5_2p['team'].map(team_states_dict)
# df_viz4['state_fullname'] = df_viz4['state'].map(states_fullname_dict)
# df_viz5_2p['team_fullname'] = df_viz5_2p['team'].map(team_fullname_dict)
# df_viz4['city'] = df_viz4['team'].map(team_cities_dict)

df_viz5_2p.sort_values(by=['year', 'state'], ascending=[True, True], inplace=True)
# df_viz4.sort_values(by=['year', 'state','city'], ascending=[True, True,True], inplace=True)

df_viz5_2p.head()

      team   made  shot_type  year state
40133  PHO   True          2  2000    AZ
40134  PHO   True          2  2000    AZ
40135  PHO   True          2  2000    AZ
40136  PHO  False          2  2000    AZ
40137  PHO  False          2  2000    AZ

In [ ]:
df_viz5_3p['state'] = df_viz5_3p['team'].map(team_states_dict)
# df_viz4['state_fullname'] = df_viz4['state'].map(states_fullname_dict)
df_viz5_3p['team_fullname'] = df_viz5_3p['team'].map(team_fullname_dict)
# df_viz4['city'] = df_viz4['team'].map(team_cities_dict)

df_viz5_3p.sort_values(by=['year', 'state'], ascending=[True, True], inplace=True)
# df_viz4.sort_values(by=['year', 'state','city'], ascending=[True, True,True], inplace=True)

df_viz5_3p.head()

     team   made  shot_type  year state team_fullname
8101  PHO  False          3  2000    AZ  Phoenix Suns
8102  PHO  False          3  2000    AZ  Phoenix Suns
8103  PHO   True          3  2000    AZ  Phoenix Suns
8104  PHO  False          3  2000    AZ  Phoenix Suns
8105  PHO  False          3  2000    AZ  Phoenix Suns

In [47]:
df_viz5_2p.to_csv(f'{path_to_save}/data_viz5_states_2points.csv', index=False)

In [43]:
df_viz5_3p.to_csv(f'{path_to_save}/data_viz5_states_3points.csv', index=False)

# Preproccess for Viz #3 - Basketball Court Rim Locations

In [ ]:
df = pd.read_csv('nba_all_clean.csv')

In [ ]:
def data_nba_and_rim(data):
    data_all_df = data
    # center_of_rim = [-25, +2.65]
    data_all_df['shotX_rim'] = (data_all_df['shotX'] - 25) * 10
    data_all_df['shotY_rim'] = (data_all_df['shotY'] - 2.65) * 10
    return data_all_df

df = data_nba_and_rim(df)

In [ ]:
df = df[['shotX_rim', 'shotY_rim', 'shot_type', 'made', 'distance', 'team']]

In [ ]:
# Load the data frame
# Separate the data frame based on shot_type
df_shot_type_2 = df[df['shot_type'] == 2].copy()
df_shot_type_3 = df[df['shot_type'] == 3].copy()

In [ ]:
df_shot_type_2_made_True = df_shot_type_2[df_shot_type_2['made'] == True]
print(df_shot_type_2_made_True.shape[0])

df_shot_type_2_made_False = df_shot_type_2[df_shot_type_2['made'] == False]
print(df_shot_type_2_made_False.shape[0])

df_shot_type_3_made_True = df_shot_type_3[df_shot_type_3['made'] == True]
print(df_shot_type_3_made_True.shape[0])

df_shot_type_3_made_False = df_shot_type_3[df_shot_type_3['made'] == False]
print(df_shot_type_3_made_False.shape[0])

1668148
1753251
429226
762378

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from tqdm import tqdm

dfs = [df_shot_type_2_made_True, df_shot_type_2_made_False, df_shot_type_3_made_True, df_shot_type_3_made_False]
columns_to_cluster = ['shotX_rim', 'shotY_rim']
clustered_dfs = []

for df in tqdm(dfs):
  k_shot_type_made = 300
  kmeans_shot_type_made = KMeans(n_clusters=k_shot_type_made, random_state=42)
  labels_shot_type_made = kmeans_shot_type_made.fit_predict(df[columns_to_cluster])
  df['cluster_label'] = labels_shot_type_made
  cluster_centers_shot_type_made = kmeans_shot_type_made.cluster_centers_
  curr_df = pd.DataFrame(cluster_centers_shot_type_made, columns=columns_to_cluster)
  clustered_dfs.append(curr_df)

  0%|          | 0/4 [00:00<?, ?it/s]/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
<ipython-input-8-5df0e822a4b6>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster_label'] = labels_shot_type_made
 25%|██▌       | 1/4 [14:34<43:42, 874.22s/it]/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
<ipython-input-8-5df0e822a4b6>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster_label'] = labels_shot_type_made
 50%|█████     | 2/4 [28:38<28:33, 856.55s/it]/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
<ipython-input-8-5df0e822a4b6>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster_label'] = labels_shot_type_made
 75%|███████▌  | 3/4 [30:53<08:47, 527.22s/it]/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
<ipython-input-8-5df0e822a4b6>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster_label'] = labels_shot_type_made
100%|██████████| 4/4 [35:17<00:00, 529.38s/it]

In [ ]:
def pre(df, v1, v2):
  df.insert(1, 'made', v1)
  df.insert(1, 'shot_type', v2)
  return df

df0 = pre(clustered_dfs[0], True, 2)
df1 = pre(clustered_dfs[1], False, 2)
df2 = pre(clustered_dfs[2], True, 3)
df3 = pre(clustered_dfs[3], False, 3)

df = pd.concat([df0, df1, df2, df3], axis=0)

In [ ]:
df.to_csv('data_for_viz2.csv')